RewriteEngine on
RewriteCond $1 !^(index\.php|app|assets|images|js|css|uploads|favicon.png|partials)
RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^(.*)$ ./index.php/$1 [L]